<div class='container'>

<div class="title">
    <%if Mode.find(@mode.to_i).name == "Nightmares"%>
      <%= render 'pages/components/nightmares' %>
    <%end%>
    <%if Mode.find(@mode.to_i).name == "Wellness"  %>
      <%= render 'pages/components/wellness' %>
    <%end%>
    <% if Mode.find(@mode.to_i).name == "Romantic" %>
      <%= render 'pages/components/romantic' %>
    <%end%>
    <%if Mode.find(@mode.to_i).name == "Fantasy"%>
      <%= render 'pages/components/fantasy' %>
    <%end%>
  </div>



  <div class="cards">
    <% @dreams.each do |dream| %>
      <%= link_to dream_path(dream) do %>
        <div class='card-trip' data-controller="card" data-action="mouseenter->card#in mouseleave->card#out">
          <%= cloudinary_picture(dream) %>
          <div class="card-trip-infos">
            <h2><%= dream.title %></h2>
            <div>
              <p><% dream.intensity.to_i.times do%><i class="fa-solid fa-circle" style="color:rgb(212, 121, 100)"></i> <% end %></p>
              <h2 class="card-trip-pricing">£<%= dream.price %></h2>
            </div>
            <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
          </div>
        </div>
      <% end %>
  <%# <%= link_to "Back to modes", root_path %>
    <% end %>

  </div>

</div>
