<div class='container'>

<div class="title">
    <%if Mode.find(@mode.to_i).name == "Nightmares"%>
      <%= render 'pages/components/nightmares' %>
    <%end%>
    <%if Mode.find(@mode.to_i).name == "Wellness"  %>
      <%= render 'pages/components/wellness' %>
    <%end%>
    <% if Mode.find(@mode.to_i).name == "Romantic" %>
      <%= render 'pages/components/romantic' %>
    <%end%>
    <%if Mode.find(@mode.to_i).name == "Fantasy"%>
      <%= render 'pages/components/fantasy' %>
    <%end%>
  </div>

  <div class="cards">
    <% @dreams.each do |dream| %>
      <%= link_to dream_path(dream) do %>
        <div class='card-trip'>

          <div class='show-default'>
            <h2 class='title-default'><%= dream.title %></h2>
            <%= cloudinary_picture(dream) %>
          </div>

          <div class='show-hover'>
            <h2 class='title-default'><%= dream.title %></h2>
            <%= cloudinary_picture(dream)%>
            <div class='content-hover'>
              <div><h2 class='title-hover'><%= dream.title %></h2></div>
              <div class='content-info-hover'>
                <div class='intensity'>
                  <h3>Intensity</h3>
                  <p><% dream.intensity.to_i.times do%><i class="fa-solid fa-circle" style="color:rgb(212, 121, 100)"></i> <% end %></p>
                </div>
                <div class='price'>
                  <h3>Price</h3>
                  <p>$<%= dream.price %></p>
                </div>
                <div class='user'>
                  <p>By <%= dream.user.first_name %></p>
                </div>
              </div>

            </div>
          </div>

        </div>

      <% end %>
    <% end %>

  </div>

</div>
