<h1 id="new-form-title">Create a new dream</h1>
<div class = "new-form-div">
  <%= simple_form_for [@mode,@dream], html: { class: "new-form"} do |f| %>
    <%= f.input :title, label: 'Enter your title please', error: 'Title is mandatory, please specify one' %>
    <%= f.input :description, label: 'Enter your description please', error: 'Description is mandatory, please specify one' %>
    <%= f.input :intensity, collection: 1..5, label: 'Select intensity level', error: 'Intensity is mandatory, please specify one' %>
    <%= f.input :price, label: 'Enter the price of the dream', error: 'Price is mandatory, please specify one' %>
    <% f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
