
<div class='container'>
  <div class="row" style="height:100%">
    <div class="col-5 p-3 " style="border: 2px solid white">
      <h2>Book <%=@dream.title%></h2>
      <br>
      <div class="image-show">
        <%= cloudinary_picture(@dream)%>
      </div>


      <div class='dream-info'>
        <div class='dream-info-item'>
          <h3>Category</h3>
          <p><%= @dream.mode.name %></p>
        </div>
        <div class='dream-info-item'>
          <h3>Intensity</h3>
          <p>
            <% @dream.intensity.to_i.times do%><i class="fa-solid fa-circle" style='white'></i> <% end %>
            <% (5 - @dream.intensity.to_i).times do%><i class="fa-regular fa-circle" style='white'></i> <% end %>
          </p>
        </div>
        <div class='dream-info-item'>
          <h3>Price</h3>
          <p><%= @dream.price %><i class="fa-solid fa-euro-sign" style='color: white;font-size: 14px;'></i></p>

        </div>
      </div>
      <br>
      <div>
        <h3>Description</h3>
        <p style="text-align:justify"><%= @dream.description %></p>
      </div>
    </div>
  </div>


</div>

<div>
  <%= link_to "Book this dream", new_dream_booking_path(@dream), class: 'btn btn-outline-secondary'%>
</div>
