<div class="container", style="padding-top: 15px">
  <div class="row" style="height:100%; justify-content:center">
    <div class="img-show col-10 p-3">
      <%= cloudinary_picture(@dream)%>
    </div>
    <div class="col-5 p-3" style="background-color:#F7F7F7">
      <h2 style="color: #404040"><%=@dream.title%></h2>
      <div class='dream-info'>
        <div class='dream-info-item'>
          <h3>Category</h3>
          <p><%= @dream.mode.name %></p>
        </div>
        <div class='dream-info-item'>
          <h3>Intensity</h3>
          <p>
          <% @dream.intensity.to_i.times do%><i class="fa-solid fa-circle" style='color: #404040'></i> <% end %>
          <% (5 - @dream.intensity.to_i).times do%><i class="fa-regular fa-circle" style='color: #404040'></i> <% end %>
          </p>
        </div>
        <div class='dream-info-item'>
          <h3>Price</h3>

          <p><%= number_with_precision(@dream.price, precision: 2) %><i class="fa-solid fa-euro-sign" style='color:  #404040;font-size: 14px;'></i></p>
        </div>
      </div>
      <br>
      <div>
        <h3>Description</h3>
        <p style="text-align:justify"><%= @dream.description %></p>
      </div>
      <br>
      <div style="width: 100%; height: 300px;"
                  data-controller="mapbox"
                  data-mapbox-markers-value="<%= @markers.to_json %>"
                  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    <div class="col-5 p-3" style="background-color:#F7F7F7">
      <div class="container-calendar" data-controller="flatpickr">
        <div class = "new-form-div-map">
          <%= simple_form_for [@dream, @booking], html: { class: "new-form-map"} do |f|%>
            <%= f.input :starting_date, as: :string, label: false, required: false, input_html: {class: "datepicker d-none"} %>
            <%= f.button :submit, "Book", class: 'button-book' %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "pages/components/footer" %>
<%= yield %>
