
<div class='container col-6'>
  <h1>Book <%=@dream.title%></h1>
  <div style="object-fit:cover, text-align: center, background-color: white">
    <%= cloudinary_picture(@dream) %>
  </div>

  <div class='dream-info'>
    <div class='dream-info-mode'>
      <h3>Mode</h3>
      <p><%= @dream.mode.name %></p>
    </div>
    <div class='dream-info-intensity'>
      <h3>Intensity</h3>
      <p><% @dream.intensity.to_i.times do%><i class="fa-solid fa-circle" style="color:rgb(212, 121, 100)"></i> <% end %></p>
    </div>
    <div class='dream-info-price'>
      <h3>Price</h3>
      <p><%= @dream.price %></p>
    </div>
    <div class='dream-info-rating'>
      <h3>Overall Rating</h3>
      <p><%= @dream.overall_rating %></p>
    </div>
  </div>
  <div>
    <h3>Description</h3>
    <p><%= @dream.description %></p>
  </div>
  <div>
    <%= link_to "Book this dream", new_dream_booking_path(@dream), class: 'btn btn-outline-secondary'%>
  </div>

</div>
