<div class='container' style="color:white;">
  <h1 class="dashboard-title" style="color:#404040; text-align:center">Dashboard</h1>

  <div class='dash'>

    <%if @user.booked_dreams.present? %>
      <div class='booked'>
        <h2 style="text-align: center">Booked</h2>
        <div class="cards-dash">
          <%@user.bookings.each do |booking|%>
            <%= link_to dream_path(booking.dream) do %>
              <div class="card card-dash">
                <div class="card__thumb">
                  <%= cloudinary_picture(booking.dream) %>
                  <div class="card__caption">
                    <h2 class="card__tilte"><%= booking.dream.title %></h2>
                    <div class='content-info-hover card__snippet'>
                      <div>
                        <p style="color:#F7F7F7">Starting date: <%=booking.starting_date%> </p>
                        <br>
                        <p style="color:#F7F7F7">Ending date: <%=booking.ending_date%> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>



    <%else%>
      <div class='booked' >
        <h2 style="text-align: center">Booked</h2>
        <p style="text-align: center">You don't have any bookings</p>
      </div>
    <% end %>

    <%if @user.dreams.present? %>
      <div class='created'>
        <h2 style="text-align:center">Created</h2>
<%# empieza %>
        <div class="cards-dash">
                <% @user.dreams.each do |dream| %>
                <%= render 'booking_card', dream: dream %>
                <% end  %>
              </div>

            </div>
          </div>
        </div>
<%# termina %>


        <%# <ul style="list-style-type:none; text-align:center"> %>
          <%# <% @user.dreams.each do |dream| %>
            <%# <li> %>
              <%# <%=link_to dream.title, dream_path(dream)</li> %>
          <%# <% end %>
        <%# </ul> %>

      </div>
      <%else%>
      <div class='created' >
        <h2 style="text-align: center">Created</h2>
        <p style="text-align: center">You haven't created any dreams</p>
      </div>
    <% end %>
  </div>
</div>

<%= yield %>
<%= render "pages/components/footer" %>
