
<%# <%= render "pages/components/banner"%>
<div class="container-homepage">
  <div class="row" style="height:100%">

    <div class="col-12 col-lg-8 left-home-page">
      <h1 id='home-title1'>Dream</h1>
      <h1 id='home-title2'>Scape</h1>
      <h3 id='home-category'>Choose your own reality. </h3>
    </div>

    <div class="col-12 col-lg-4 right-home-page">
      <%# <%= link_to dreams_path(mode: @modes[1].id) do %>
        <%# <%= image_tag 'nightmares-white.gif', class: 'category' %>
      <%# <% end %>
      <%# <%= link_to dreams_path(mode: @modes[0].id) do %>
        <%# <%= image_tag 'fantasy-white.gif', class: 'category' %>
      <%# <% end %>
      <%# <%= link_to dreams_path(mode: @modes[2].id) do %>
        <%# <%= image_tag 'wellness-white.gif', class: 'category' %>
      <%# <% end %>
      <%# <%= link_to dreams_path(mode: @modes[3].id) do %>
        <%# <%= image_tag 'romantic-white.gif', class: 'category' %>
      <%# <% end %>
      <%= link_to dreams_path(mode: @modes[1].id) do %>
        <%= render 'pages/components/nightmares' %>
      <% end %>
      <%= link_to dreams_path(mode: @modes[0].id) do %>
        <%= render 'pages/components/fantasy' %>
      <% end %>
      <%= link_to dreams_path(mode: @modes[2].id) do %>
        <%= render 'pages/components/romantic' %>
      <% end %>
      <%= link_to dreams_path(mode: @modes[3].id) do %>
        <%= render 'pages/components/wellness' %>
      <% end %>
    </div>

  </div>
</div>


<%# <div class = 'cards-home'>
  <% @modes.each do |mode|%>
  <%# <div class="card-list"><%= link_to mode.name, dreams_path(mode: mode.id) %></div>
  <%# <%end%>
<%# </div> %>
